<!DOCTYPE html>
<html>
<head>
    <title>chatGPT API Stream Demo</title>
    <link rel="stylesheet" href="../../static/gpt/gpt.css">
    <link rel="stylesheet" href="../../static/gpt/history.css">
</head>

<body>
<div id="container" class="left">
    <div id="main" style="float: left">
        <div id="chatInfo"></div>
        <div id="chatOper">
            <input id="chatText" type="text" placeholder="Input your question.."/>
            <input id="submitBtn" type="button" value="Input" onclick="submit()" disabled/>
        </div>
    </div>
</div>

</body>
<script src="../../static/gpt/script.js" type="application/javascript"></script>
<script src="../../static/gpt/enable_history.js" type="application/javascript"></script>
<script src="../../static/gpt/chatInfo.js" type="application/javascript"></script>
<script src="../../static/gpt/history.js" type="application/javascript"></script>
<script src="../../static/gpt/tts.js" type="application/javascript"></script>

</html>