<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form style="display: flex; flex-direction: column; justify-content: center; width: 205px; align-content: center">
    <input id="username" type="text" placeholder="please input username"/> <br/>
    <input id="password" type="password" placeholder="please input password"/> <br/>
    <input type="button" id="submit" value="submit" onclick="doLogin()"/>
</form>
</body>
<script src="../../static/auth/login.js" type="application/javascript"></script>
</html>